@import url(../base.css);
@import url(../CommonCSS/FAQ.css);

.banner_text_wrapper {
  flex: 1;
  margin-right: 15rem;
  background-color: inherit;
}
.banner_title {
  font-size: 4rem;
  line-height: 150%;
  font-weight: 300;
  margin-bottom: 1.4rem;
  background-color: inherit;
}
.banner_content {
  font-size: 1.8rem;
  line-height: 150%;
  background-color: inherit;
  font-weight: 100;
  color: var(--grey-70);
}

.security_banner {
  margin-top: 5rem;
  padding: 5rem;
  background-image: url(../assest/Bg-img/sercurity_banner_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 20px;
}
.security_banner_wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
  background-color: transparent;
  overflow: hidden;
}
.security_banner_text {
  padding: 8rem;
  width: 50%;
  border-radius: 20px 0 80px 20px;
  background-color: var(--grey-10);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.security_banner_title {
  background-color: inherit;
  font-size: 5.8rem;
  line-height: 130%;
  position: relative;
  margin-bottom: 3rem;
}
.security_banner_content {
  font-size: 1.8rem;
  color: var(--grey-70);
  font-weight: 100;
  line-height: 150%;
}
.security_banner_img {
  width: 60%;
  min-height: 700px;
  background-image: url(../assest/Bg-img/careers_banner_img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
