@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url(./CommonCSS/header.css);
@import url(./CommonCSS/footer.css);
/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--grey-10);
  color: var(--white);
  font-family: var(--main-font);
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

:root {
  --primary-border: 1px solid var(--grey-15);
  --main-font: 'Lexend', sans-serif;
  --secondary-bg-color: #22251b;
  --primary-color: #caff33;
  --green-65: #d1ff4c;
  --green-70: #d8ff66;
  --green-80: #e5ff99;
  --green-90: #f2ffcc;
  --green-95: #f8ffe5;
  --green-97: #fbfff0;
  --green-99: #fefffa;

  --black: #000;
  --white: #fff;
  --white-90: #e4e4e7;
  --white-95: #f1f1f3;
  --white-97: #f7f7f8;
  --white-99: #fcfcfd;

  --grey-10: #191919;
  --grey-11: #1c1c1c;
  --grey-15: #262626;
  --grey-20: #333333;
  --grey-30: #4c4c4d;
  --grey-35: #59595a;
  --grey-40: #656567;
  --grey-60: #98989a;
  --grey-70: #b3b3b3;
  --grey-75: #bfbfbf;
}

.container {
  width: 85% !important;
  margin: 0 auto;
}
.primary_text_color {
  color: var(--primary-color);
}

.secondary_bg_color {
  background-color: var(--grey-11);
}

.section_info {
  width: 100%;
  margin-bottom: 8rem;
}

.section_title {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 1.4rem;
}

.section_info_with_button {
  display: flex;
  margin-bottom: 100px;
}

.section_info_with_button_title_wrapper {
  width: 56%;
}

.section_info_with_button_title {
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 14px;
}
.section_info_with_button_introduction {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 150%;
  color: var(--grey-70);
}

.section_info_buttons_wrapper {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}

.section_info_buttons {
  display: flex;
  background-color: var(--grey-11);
  border-top: 1px solid var(--grey-15);
  border-radius: 60px;
  padding: 10px 14px;
}

.section_info_buttons button {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0 24px;
}

.normal_button {
  background: transparent;
  min-height: 50px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 0 16px;
  border-radius: 25px;
  color: var(--white);
  border: none;
}
.section_info_description {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 150%;
  max-width: 75%;
  color: var(--grey-70);
}

.grid2x2 {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}

.grid2x2_item {
  width: 48%;
}

.grid1x3 {
  display: flex;
}

.full-width_banner {
  display: flex;
  padding: 8rem;
  margin-bottom: 150px;
  background-color: var(--grey-11);
  border: 1px solid var(--grey-15);
  border-radius: 20px;
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.width_container {
  width: 100% !important;
}

.normal_button:hover {
  background-color: var(--grey-15);
}

.primary_button {
  background-color: var(--primary-color);
  min-height: 50px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 16px;
  border-radius: 45px;
  color: var(--black);
  border: none;
}

.primary_button:hover {
  opacity: 0.8;
}

.secondary_button {
  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 45px;
  color: var(--green-65);
  min-height: 50px;
  min-width: 100px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary_button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1281px) {
  .container {
    width: 90% !important;
    margin: 0 auto;
  }
}
