.header {
  background-color: var(--grey-11);
  border: 1px solid var(--grey-15);
  border-radius: 50px;
  padding: 20px 16px;
  margin-top: 50px !important;
}

.navbar {
  display: flex;
  background-color: inherit;
}

.navbar_buttons {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 1.8rem;
  background-color: inherit;
}

.navbar_item {
  margin-right: 0 12px;
}

.navbar img {
  margin-left: 20px;
  background-color: inherit;
}

.navbar .primary_button {
  margin-right: 30px;
  font-size: 1.8rem;
}
.navbar .normal_button {
  font-size: 1.8rem;
  text-transform: capitalize;
}

#navbar-toggle {
  display: none;
}
.navbar-toggle_label {
  display: none !important;
}
@media screen and (max-width: 440px) {
  .header {
    margin-top: 40px;
  }

  .navbar_buttons {
    display: none;
  }

  .navbar a {
    display: none;
  }

  .navbar img {
    width: 100px;
    height: 26px;
    margin-left: 0;
  }

  .navbar-toggle_label img {
    width: 30px;
  }

  .navbar-toggle_label {
    display: flex !important;
    padding: 0;
    margin: 0 !important;
    min-width: 56px !important;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
  }

  .header {
    padding: 14px 24px;
  }

  /* #navbar-toggle:checked ~ .navbar_buttons {
    display: flex;
  } */
}
