@import url(../base.css);
@import url(../CommonCSS/our_testimonials_section.css);
@import url(../CommonCSS/FAQ.css);
/* navbar */

.banner {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
}

.left-banner {
  width: 50%;
}

.banner_note {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--grey-15);
  width: fit-content;
  padding: 10px 12px 10px 12px;
  border-radius: 24px;
  margin-bottom: 20px;
}

.banner_note img {
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 8px;
  background-color: inherit;
}
.banner_note_content {
  font-size: 1.8rem;
  line-height: 2.4rem;
  background-color: inherit;
  font-weight: 200;
}

.left-panel__title {
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.left-panel__title span {
  color: var(--primary-color);
  line-height: 150%;
}

.left-banner__description {
  font-size: 1.8rem;
  line-height: 150%;
  margin-bottom: 50px;
  color: var(--white-90);
}

.left-banner__button {
  font-size: 1.8rem;
  line-height: 150%;
  padding: 16px;
  min-width: 120px;
}

.right-banner {
  width: 50%;
  position: relative;
}

.transaction_container {
  border: 1px solid var(--primary-color);
  width: 55%;
  border-radius: 12 px;
  padding: 36px;
  margin-left: 120px;
  border-radius: 10px;
  z-index: 10;
  position: relative;
}

.transaction_background {
  position: absolute;
  top: -3%;
  left: 42%;
  width: 400px;
  height: 400px;
  z-index: 1;
}

.transaction_label {
  font-size: 1.6rem;
  margin-bottom: 16px;
  font-weight: 400;
}

.transaction-wrap {
  position: relative;
  background-color: inherit;
  min-height: 50px;
  z-index: 5;
  margin-bottom: 130px;
}

.transaction_item1 {
  position: relative;
  background-color: var(--grey-11);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid var(--grey-15);
  z-index: 10;
}

.transaction_item2 {
  background-color: var(--grey-11);
  display: flex;
  align-items: center;
  width: 90%;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid var(--grey-15);
  position: absolute;
  opacity: 0.6;
  z-index: 2;
  top: 64%;
  left: 5%;
}
.transaction_item3 {
  background-color: var(--grey-11);
  display: flex;
  align-items: center;
  width: 80%;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid var(--grey-15);
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  top: 130%;
  left: 10%;
}

.transaction-wrap img {
  background-color: var(--grey-11);
  height: 38px;
  width: 38px;
  margin-right: 8px;
}

.transaction-wrap .transaction_content {
  font-size: 1.5rem;
  font-weight: 200;
  background-color: inherit;
  flex: 1;
}

.transaction-wrap p {
  background-color: inherit;
}

.transaction-wrap .client-name {
  font-size: 1.7rem;
  font-weight: 400;
}

.transfer-amount {
  min-height: 50px;
  background-color: inherit;
  display: flex;
  align-items: end;
}

.transfer-amount p {
  background-color: var(--grey-11);
  font-size: 2rem;
}

.money-exchange_container {
  background-color: var(--grey-11);
  border: 1px solid var(--grey-15);
  border-radius: 10px;
  display: flex;
  margin-bottom: 24px;
}

.from_money_container,
.to_money_container {
  flex: 1;
  padding-top: 18px;
  background-color: inherit;
  display: flex;
  flex-direction: column;
}

.to_money_container {
  border-left: 1px solid var(--grey-15);
}

.from_money_flag,
.to_money_flag {
  display: flex;
  align-items: center;
  background-color: inherit;
  margin-bottom: 8px;
  padding-left: 18px;
}
.from_money_flag img,
.to_money_flag img {
  width: 35px;
  height: 35px;
  margin-right: 6px;
  background-color: inherit;
}

.currency {
  font-size: 1.6rem;
  font-weight: 300;
}

.from_money_country-name,
.to_money_country-name {
  font-size: 1.4rem;
  background-color: inherit;
  padding-bottom: 18px;
  padding-left: 18px;
  font-weight: 200;
}

.from_money_amount,
.to_money_amount {
  font-size: 1.8rem;
  background-color: inherit;
  padding: 24px 18px;
  border-top: 1px solid var(--grey-15);
}

.exchange_button {
  width: 100%;
}

.transaction_pop-up {
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  position: absolute;
  padding: 28px;
  border-radius: 10px;
  top: -12%;
  left: -18%;
  z-index: 10;
}

.transaction_pop-up img {
  width: 40px;
  height: 40px;
  background-color: inherit;
  margin-right: 8px;
}
.pop-up_content {
  background-color: inherit;
}
.transaction_pop-up .amount {
  font-size: 1.8rem;
  background-color: inherit;
}

.transaction_pop-up .pop-up_text {
  font-size: 1.4rem;
  font-weight: 200;
  background-color: inherit;
}
.supported-currency_wrap {
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 12px 0 0px 30%;
  border-radius: 40px;
  overflow: hidden;
}

.supported-currency_text {
  background-color: inherit;
  font-size: 1.6rem;
  padding: 24px 10px 24px 20px;
}

.currency_wrap {
  padding: 8px;
  border-radius: 40px;
  margin-right: 8px;
}

.currency_wrap img:not(:last-child) {
  margin-right: 8px;
}

.product-card_wrap {
  display: flex;
}

.product_card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product_card:not(:last-child) {
  border-right: 1px solid var(--grey-15);
}

.product_card img {
  height: 100px;
  width: 100px;
  margin-bottom: 3rem;
}

.product_card_title {
  font-size: 2.4rem;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 2rem;
}

.product_card_description {
  font-size: 1.8rem;
  font-weight: 100;
  padding: 0 50px;
  color: var(--grey-70);
}

.use-case_wrapper {
  display: flex;
  gap: 10rem;
}

.use-case_cards {
  width: calc(50% - 50px);
  padding: 50px;
  border-radius: 20px;
  position: relative;
  gap: 30px;
  background-image: url(../assest/Bg-img/Sub\ Container_1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.use-case_cards-bg_right {
  background-image: url(../assest/Bg-img/Sub\ Container_2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* TODO */
.use-case_cards_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 0.5;
  z-index: 1;
}

.use-case_card {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
  border-radius: 16px;
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  width: calc(50% - 15px);
}

.use-case_card img {
  width: 7.8rem;
  height: 7.8rem;
  margin-bottom: 2.4rem;
  background-color: inherit;
}

.use-case_card-title {
  font-size: 2rem;
  font-weight: 200;
  background-color: inherit;
}

.use-case_info {
  width: calc(50% - 50px);
}

.use-case_info_title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 14px;
}
.use-case_info-description {
  font-size: 1.8rem;
  font-weight: 100;
  margin-bottom: 6rem;
  color: var(--grey-70);
}

.percent_card {
  margin-bottom: 6rem;
}
.percent_card:not(:last-child) {
  margin-right: 5rem;
  padding-right: 5rem;
  border-right: 3px dashed var(--grey-15);
}

.use-case_percent {
  font-size: 5.8rem;
  line-height: 150%;
  margin-bottom: 5px;
}

.use-case_percent_text {
  font-size: 1.8rem;
  font-weight: 100;
  color: var(--grey-70);
}

.our-features_section {
  margin-bottom: 80px;
}
.features_wrapper {
  display: flex;
}

.accordion_button_group {
  width: 22%;
  margin-right: 3rem;
}

.button_vertical_group {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey-15);
  border-radius: 12px;
  background-color: var(--grey-11);
  padding: 50px;
  gap: 2.4rem;
}

.secondary_button.features_button {
  background-color: var(--black);
  border: 1px solid var(--grey-15);
  text-align: left;
  justify-content: flex-start;
  padding-left: 2.4rem;
}

.normal_button.features_button {
  background-color: var(--grey-11);
  border: 1px solid var(--grey-15);
  text-align: left;
  justify-content: flex-start;
  padding-left: 2.4rem;
}

.features_button:hover {
  opacity: 0.5;
  font-size: 1.8rem;
}

.features_info_cards {
  flex: 1;
  gap: 30px;
}

.features_info_card {
  width: calc(50% - 15px);
  background-color: var(--grey-11);
  border: 1px solid var(--grey-15);
  border-radius: 12px;
  padding: 50px;
}

.features_info_card_title_wrapper {
  display: flex;
  background-color: inherit;
  margin-bottom: 3rem;
}

.features_info_card_title_wrapper img {
  background-color: inherit;
  width: 34px;
  height: 34px;
}

.features_info_card_title {
  flex: 1;
  background-color: inherit;
  font-size: 2.2rem;
  line-height: 150%;
  font-weight: 300;
}

.features_info_card_description {
  background-color: inherit;
  font-size: 1.8rem;
  font-weight: 1;
  line-height: 150%;
  letter-spacing: -0.6%;
  color: var(--grey-70);
}

.banner_text_wrapper {
  flex: 1;
  margin-right: 15rem;
  background-color: inherit;
}
.banner_title {
  font-size: 4rem;
  line-height: 150%;
  font-weight: 300;
  margin-bottom: 1.4rem;
  background-color: inherit;
}
.banner_content {
  font-size: 1.8rem;
  line-height: 150%;
  background-color: inherit;
  font-weight: 100;
  color: var(--grey-70);
}

@media screen and (max-width: 440px) {
  .banner_text_wrapper {
    margin: 0;
    text-align: center;
  }

  .banner_title {
    font-size: 2.4rem;
    margin-bottom: 14px;
  }

  .banner_content {
    font-size: 1.4rem;
    margin-bottom: 24px;
  }

  .banner {
    flex-direction: column;
    margin-top: 50px;
  }
  .left-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
  }
  .banner_note {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  .banner_note_content {
    font-size: 12px;
  }
  .left-panel__title {
    font-size: 2.8rem;
    margin-bottom: 8px;
  }
  .left-banner__description {
    font-size: 1.4rem;
    font-weight: 200;
    margin-bottom: 30px;
  }

  .right-banner {
    width: 100%;
    align-items: center;
  }
  .transaction_container {
    margin: 0 auto;
    width: 95%;
    padding: 20px;
  }
  .transaction_label {
    font-size: 1rem;
  }
  .transaction_pop-up {
    padding: 10px;
    border-radius: 6px;
    top: -6%;
    left: -6%;
  }
  .transaction_background {
    top: -4%;
    left: 54%;
    width: 220px;
    height: 200px;
  }
  .transaction_content p {
    font-size: 0.9rem;
  }
  .client-name {
    font-size: 1rem !important;
  }
  .transfer-amount {
    font-size: 1.2rem !important;
  }
  .amount {
    font-size: 1rem !important;
  }
  .pop-up_text {
    font-size: 0.8rem !important;
  }
  .transaction_pop-up img {
    width: 22px;
    height: 22px;
  }
  .exchange_button {
    padding: 8px 15px;
    font-style: 9px;
    min-height: 30px;
  }
  .supported-currency_wrap {
    padding: 5px 5px 5px 12px;
  }
  .supported-currency_text {
    font-size: 9px;
    text-wrap: nowrap;
    padding: 0;
    margin-right: 5px;
  }
  .currency_wrap {
    margin: 0;
  }
  .currency_wrap img {
    height: 20px;
  }
  .product-card_wrap {
    display: flex;
    flex-direction: column;
  }
  .product_card {
    width: 100%;
    padding: 30px 0px;
  }
  .product_card:not(:last-child) {
    border-bottom: 1px solid var(--grey-15);
    border-right: none;
  }
  .product_card img {
    width: 72px;
    margin-bottom: 20px;
  }
  .product_card_title {
    font-size: 2rem;
    margin-bottom: 12px;
  }
  .product_card_description {
    font-size: 1.4rem;
  }
  .use-case_wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .use-case_cards {
    width: 100%;
    padding: 20px;
    gap: 10px;
  }
  .use-case_card {
    width: calc(50% - 5px);
    padding: 20px;
  }
  .use-case_card img {
    width: 64px;
    height: auto;
    margin-bottom: 14px;
  }
  .use-case_card-title {
    font-size: 1.4rem;
  }
  .use-case_info {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    margin-bottom: 40px;
  }
  .use-case_info_title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .use-case_info-description {
    font-size: 1.4rem;
    margin-bottom: 50px;
  }
  .percent_cards {
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0 50px;
  }
  .percent_card:not(:last-child) {
    margin: 0;
    padding-bottom: 30px;
    padding-right: 0;
    border-right: none;
    border-bottom: 3px dashed var(--grey-15);
  }
  .percent_card {
    padding-top: 30px;
  }

  .use-case_info button {
    background-color: var(--grey-11);
    border: 1px solid var(--grey-15);
    font-size: 1.4rem;
  }
  .accordion_button_group {
    width: 100%;
    margin-bottom: 20px;
  }

  .button_vertical_group {
    flex-direction: row;
    padding: 20px;
    gap: 20px;
  }
  .features_button {
    font-size: 1.2rem;
    text-align: center !important;
    padding-left: none !important;
    padding: 14px 20px !important;
    border-radius: 60px;
  }

  .features_wrapper {
    display: flex;
    flex-direction: column;
  }
  .features_info_card {
    width: 100%;
  }
}
