.our_testimonials_section {
  margin-bottom: 150px;
}

.testimonials_wrapper {
  display: flex;
  align-items: center;
}

.testimonial_cards {
  position: relative;
  display: flex;
  gap: 8rem;
}

.testimonial_cards::before {
  content: '';
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 40%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to left, #19191900, #191919);
}

.testimonial_cards::after {
  content: '';
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 40%;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, #19191900, #191919);
}

.testimonial_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.testimonial_card img {
  position: relative;
  height: 6rem;
  width: 10rem;
  z-index: 10;
  padding-left: 6px;
  margin-bottom: 6rem;
}

.testimonial_card::before {
  content: '';
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 3rem;
  border: 1px solid var(--grey-15);
}

.testimonial_content {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 150%;
  text-align: center;
  margin-bottom: 5rem;
}

.testimonial_author {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 150%;
  text-align: center;
}

.left-arrow_icon {
  min-height: 6rem;
  min-width: 6rem;
  margin-right: 5rem;
}

.right-arrow_icon {
  min-height: 6rem;
  min-width: 6rem;
  margin-left: 5rem;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
